{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "angular",
        "printWidth": 500
      }
    }
  ]
}
